html {
  box-sizing: border-box;
  block-size: 100%;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  border-width: 2px;
  padding: 0;
  font: inherit;
  line-height: calc(8px + 2ex);
  letter-spacing: inherit;
  background: transparent;
}

body {
  display: grid;
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
}

b,
strong {
  font-weight: bold;
}

h1,
.h1 {
  font-size: clamp(2.25rem, 6vw, 3.75rem);
}

h2,
.h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h3,
.h3 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.5rem, 3vw, 1.75rem);
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

button {
  border-style: solid;
  color: inherit;
}

img,
figure,
iframe,
svg {
  vertical-align: middle;
  max-inline-size: 100%;
  height: auto;
}

:disabled {
  border-style: dotted;
  cursor: not-allowed;
}

[readonly] {
  border-style: dashed;
}

fieldset {
  border: 0;
}

/* :where removes specificity from :not */
:where(input:not(
[type="checkbox"],
[type="radio"],
[type="file"],
[type="image"],
[type="color"],
[type="button"],
[type="reset"],
[type="submit"]
)),
select,
textarea {
  inline-size: 100%;
  border-style: solid;
}

select {
  appearance: none;
  padding-right: 2em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="8"><path fill="black" d="M0 0 H16 L8 8 Z"/></svg>') right 0.6em center / 0.8em no-repeat, #fff;
}

textarea {
  resize: vertical;
}

meter,
progress {
  inline-size: 100%;
}

table {
  inline-size: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  white-space: pre-wrap;
}
